<aside class="ls-sidebar">
  <!-- Defails of user account -->
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      Flavio Muniz
      <small>(fmuniz)</small>
    </a>
    <nav class="ls-dropdown-nav ls-user-menu">
      <ul>
        <li><a href="#">submenu</a></li>
      </ul>
    </nav>
  </div>

  <nav class="ls-menu">
    <ul>
      <li><a href="/lists" class="ls-ico-users">Massagem agendadas</a></li>
      <li><a href="/" class="ls-ico-plus">Agendar Massagem</a></li>
      <li><a href="/schedules" class="ls-ico-eye">Meus agendamentos</a></li>
      <li><a href="/stats" class="ls-ico-stats">Estatisticas</a></li>
    </ul>
  </nav>
</aside>
