<h1 class="ls-title-intro ls-ico-home"><%= t(:schedule_massage) %></h1>
<p><%= l(Time.zone.now, format: :long) %></p>
<hr>
<form>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th> Dia/Hora </th>
      </tr>
    </thead>
    <tbody>
      <% [14,15].each do |hour| %>
        <% ["00", 15, 30, 45].each do |interval| %>
          <tr>
            <td>
              <label class="ls-display-block ls-float-left"><input type="radio" name="schedule"> Hoje às <%= hour.to_s + ":" + interval.to_s %></label>
              <label class="ls-tag ls-tag-danger ls-float-right">restam 3 vagas</label>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="ls-actions-btn">
    <button class="ls-btn">Agendar</button>
  </div>
</form>
