<h2 class="ls-title-4"><%= t(:next_massage) %></h2>
<hr>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <h2 class="ls-title-5 ls-color-theme">Segunda-feira</h2>
      <small> 14:45 </small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a onClick="return confirm('Você só poderá remarcar a massagem na próxima semana. Tem certeza que quer cancelar?')" href="#" class="ls-btn-primary"><%= t(:cancel) %></a>
    </div>
  </header>
</div>
<br>
<h2 class="ls-title-4"><%= t(:historical_schedules) %></h2>